<%- include('includes/head'); %>
<body>

  <section class="container">
    <h1>Lorem ipsum</h1>
    <form action="/" method="post">
      <label>Customer</label>
      <input type="text" name="customer">
      <button>Submit</button>
    </form>
  </section>
  <%- include('includes/footer'); %>